* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-style: normal;
    padding: 0.5vw;
  }

button {
    padding: 20px 40px; 
    font-size: 18px; 
    background-color: #555;
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  
button:hover {
    background-color: #0056b3; 
  }


.GodotGameClass {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.godotButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}

.centerNav {
display: flex;
justify-content: center; 
}

.navBar {
width: 80vw;
position: fixed;
top: 1vh; 
display: flex;
justify-content: space-between; 
align-items: center;
background-color:#555;

z-index: 100;
border-radius: 1vh;
}

.rightNav {
display: flex;
justify-content: flex-end; 
gap: 1vw;
font-size: 0.8vw;
background-color:#555;
padding: 0;
}

.leftNav {
font-size: 2vw;
}

.navBarElement {
text-decoration: none;
color: #fff;
transition: font-size 1s ease;
flex-grow: 0;
background-color:#555;
}


.navBarElement:hover {
background-color:#f2f2f2;
border-radius: 0.8vw;
transition: all 0.5s;
padding: 1vw;
}