a {
  cursor: pointer;
}

h1 {
  font-size: 5vw;
  padding: 0;
}

ion-icon {
  padding: 0;
}

.GodotGameClass {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.godotButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}

iframe {
  width: 80vw;
  height: 80vh;
}

.filler {
  padding: 0;
  height: 10vh;
}

.socialLinks {
  display: flex;
  margin-left: 1vw;
}

.socialLinks a {
  border-radius: 1vh;
  background-color: #666;
  color: #fff;
  text-decoration: none;
  transition: padding 0.5s ease, background-color 0.5s ease;
}

.socialLinks a:hover {
  border-radius: 1vh;
  padding-right: 5vw;
}

li {
  margin-left: 1.5vw;
}
